<div class="row">
  <div class="col">
    <footer>
      <form action='/goodbye', method='post'>
        <button type='submit' class="btn btn-outline-secondary"> Quit</button>
      </form>
    </footer>
  </div>
</div>
